.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.auth-header h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.auth-header p {
    color: #555;
    font-size: 15px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.auth-form input {

    width: 100%;

    padding: 15px;

    border: 1px solid #d9d9d9;

    border-radius: 10px;

    font-size: 16px;

    box-sizing: border-box;
}

.auth-content {

    width: 90%;
    max-width: 430px;

    padding: 40px;

    box-sizing: border-box;
}

.success-container {

    text-align: center;

    padding: 30px;

}

.success-icon {

    width: 70px;

    height: 70px;

    margin: auto;

    border-radius: 50%;

    background: #22c55e;

    color: white;

    font-size: 36px;

    display: flex;

    align-items: center;

    justify-content: center;

    margin-bottom: 20px;

}

.success-container h2 {

    color: white;

    margin-bottom: 15px;

}

.success-container p {

    color: rgba(255, 255, 255, .85);

    margin-bottom: 25px;

    line-height: 1.6;

}

.success-container button {

    padding: 12px 28px;

    border: none;

    border-radius: 30px;

    background: #d8b26e;

    color: white;

    cursor: pointer;

    transition: .3s;

}

.success-container button:hover {

    transform: scale(1.03);

}

.auth-button {

    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 8px;

    background: #9b0f3d;

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: .3s;
}

.auth-button:hover {

    opacity: .9;

}

.auth-footer {

    margin-top: 25px;

    text-align: center;

}

.auth-footer a {

    cursor: pointer;

    color: #9b0f3d;

    font-weight: 600;

}

.auth-footer a:hover {

    text-decoration: underline;

}